@import './imports/reset'
@import './mixins/fonts'
@import './imports/colors'


body
  font-myriad()
  font-size: 1em

a
  text-decoration: none
  color: rgba(100, 100, 200, 1)
  &:hover
    color: greyBlack

.main
  .page
    background: whiteLightShade

@import './imports/extras'
@import './imports/inputs'
