@import '../../css/imports/colors'
@import '../../css/imports/buttons'
@import '../../css/mixins/aligns'
@import '../../css/mixins/background'
@import '../../css/mixins/trans'
@import '../../css/mixins/fonts'



.main
  background: linear-gradient(30deg, #373B44 0%, #73C8A9 90%)
  &.login
    .page
      height: 100vh
      text-align: center
      trans-background(250, 250, 250, .2)
      .box
        transition: all .5s
        center()
        margin-top: 15vh
        padding: 1vh
        width: 95%
        text-align: center
        input
          margin: 5px
          width: 90%
          padding: 15px
          font-size: 20px
        .logo
          font-trench()
          width: 90%
          margin: 5%
          color: white
          font-size: 60px
