.noteList
	-	if (notes[0]){
	- each note in notes
		a(href='/note/#{note.id}')
			li #{note.title}
				#deleteItem(data-id='#{note.id}') X
	- }
	- else{
			.box.box-width
				.box-100.bg-white
					h2 Click new to create a note :)
	- }

