doctype html
html
	head
		title Clárú
		include ./head
	body

		.content
			include ./menu
			.noteBox
				if note
					input#noteTitle(type='text' name='noteTitle' placeholder='Title' value='#{note.title}')
					button.box-shadow-light.undo-text Undo
					button.box-shadow-light.redo-text Redo
					.noteSettings#noteSettings.box-shadow-light.trans
						.menu.bg-white-shade.box-shadow-thin
							li#menuShare Share
							li#menuDelete Delete

					

					
					br
					textarea#noteContent(name='noteContent' cols='50' rows='20' placeholder='Note...') #{note.message}

					#divDelete.divDelete.align-center
						a
							#closeDiv X	
						button.deleteItem(data-id='#{note.id}')	Delete
				else
					h2 Note not found!
		include ./newnote
