@require 'nib'
@require '../../css/mixins/aligns'
@require '../../css/mixins/fonts'
@require '../../css/imports/colors'

align-vertical()
  relative: top 50%
  display: block
  -webkit-transform: translateY(-50%)

.navbar
  fixed top 0 left 0 right 0
  height 10vh
  min-height: 70px
  width 100%
  // background: rgba(100, 200, 50, 1)
  background: rgba(100, 200, 210, 1)
  color: white
  box-shadow: 0 0 2px rgba(100, 100, 100, .5)
  z-index: 9
  .left
    absolute left 0 top 0
    height: 100%
    width: 15%
  .center
    absolute left 15% top 0 right 15%
    height: 100%
  .right
    absolute right 0 top 0
    height: 100%
    width: 15%
    .menu
      absolute: top 10px right 10px
      width: 200px
      background: #efefef
      box-shadow: 0 0 10px #555
      z-index: 100
      li
        list-style: none
        font-size: 22px
        padding: 18px
        color: black
    .menu-underlay
      fixed: top 0 right 0 bottom 0 left 0
      cursor: pointer
  .title
    align-vertical()
    margin-top: 2px
    font-size: 30px
    width: 50%
    cursor: pointer
  .button
    align-vertical()
    height: 75%
    width: 75%
    box-shadow: none
    background: transparent
    border: none
    margin: 0
    margin-left: 0 0 12.5% 0
    padding: 5%
    font-size: 25px
    color: #fff

@media all and (min-width: 770px)
  .navbar
    height: 100px
    background: #fff
    color: #171717
    .button
      color: #171717
      &.back
        display: none
    .right
      .menu
        margin-top: 60px
        box-shadow: 0 0 5px #555
