@import 'nib'

.main
  &.index
    .page
      min-height: 90vh
      margin-top: 10vh
      padding: 5%
      .items
        .item
          width: 100%
          padding: 10px
          background: #fff
          border-bottom: 1px solid #efefef
          margin: 2px
          .title
            padding: 10px
            font-size: 20px
            width: 80%
            min-height: 30px


